{
	"semi": false,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 120,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "all",
	"bracketSpacing": true,
	"bracketSameLine": false,
	"singleAttributePerLine": true,
	"htmlWhitespaceSensitivity": "css",
	"arrowParens": "always",
	"endOfLine": "crlf",
	"importOrder": ["^(next)$", "^(react|react-dom)$", "^[a-z]", "^@", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}

